.header-hero {
  margin-top: 25px;
  background-repeat: no-repeat;
  min-height: 400px;
  min-width: 80%;
  position: relative;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 50%);
  border: 2px solid black;
}

.header-hero--text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header-hero--text_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 3.5rem;
  font-family: "OuterLimits";
}

.header-hero--text-container_logo {
  max-width: 300px;
}

.header-hero--text-container_note {
  position: absolute;
  right: 2%;
  top: 90%;
  font-size: 1.2rem;
  font-style: italic;
}

.header-hero--text-container_bg {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.header-hero--text-container_bg-bar {
  background-color: black;
  opacity: 60%;
  height: 100px;
  width: 100%;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .header-hero {
    min-width: 90%;
  }

  .header-hero--text-container {
    flex-direction: column;
  }

  .header-hero--text-container_logo {
    max-width: 200px;
    margin-bottom: 25px;
  }

  .header-hero--text-container_bg-bar {
    visibility: hidden;
  }

  .header-hero--text_text {
    font-size: 2rem;
  }

  .header-hero--text-container_note {
    position: relative;
    top: 0;
    margin-top: -25px;
  }
}

@media only screen and (min-width: 768px) {
  .header-hero--text_text {
    line-height: 1;
  }
}

@media only screen and (min-width: 769px) {
  .header-hero--text_text {
    font-size: 1.7rem;
  }
}
